@model LogicUniversityWeb.Models.WishList
@using LogicUniversityWeb.Models
@{
    ViewBag.Title = "ApproveRequisitionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int RequestID = (int)ViewData["RequestID"];
    DateTime Date = (DateTime)ViewData["Dateofsub"];
    String Status = (String)ViewData["status"];

    //Users Userinfo = (Users)ViewData["Userinfo"];
}


    <script>
            function CancelOrder(event) {
                alert("Request Rejected ")
            }

         function ApproveRequest(event) {
                alert("Request Approved")
            }

        $(document).ready(function () {

        $("#dtBasicExample1 THEAD TR").each(function () {
            var row = $(this);
            StatusofRequest = row.find("td:eq(2) input[type='text']").val();
            if (StatusofRequest.toLowerCase() != 'pendingforapproval') {

                $("#btnRejectOrder").hide();
            }
        });
        });

        $("body").on("click", "#btnRejectOrder", function () {
            //Loop through the Table rows and build a JSON array.
            //var RequestInfo  = new Array();
            var Com = $("#Comments").val();
            $("#dtBasicExample1 THEAD TR").each(function () {
                var row = $(this);
                //var obj = {};
                RequisitionID = row.find("td:eq(0) input[type='text']").val();
                // RequestInfo.push(obj);

            });

            $.ajax({
                type: "POST",
                url: "/DepartmentRep/RejectRequest",
                data: { ID: RequisitionID, Comments:Com },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                }
            });
        });

         $("body").on("click", "#btnApproval", function () {
            //Loop through the Table rows and build a JSON array.
            //var RequestInfo  = new Array();
             var Com = $("#Comments").val();
            $("#dtBasicExample1 THEAD TR").each(function () {
                var row = $(this);
                //var obj = {};
                RequisitionID = row.find("td:eq(0) input[type='text']").val();
                // RequestInfo.push(obj);

            });


            $.ajax({
                type: "POST",
                url: "/DepartmentRep/ApproveRequest",
                data: { ID: RequisitionID, Comments:Com },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                }
            });
        });
    </script>

@{
    <body>
        <div class="main" >
            <h3><b>Request Details</b></h3>
            <table id="dtBasicExample1" class="Requestinfo" cellspacing="0" border="1" style="width:1050px;">
                <thead>
                    <tr>
                        <td><b>Request ID: </b><input type="text" id="ReqID" name="RequestID" onfocus="HideBorder" class="textboxx" value="@RequestID" readonly></td>
                        <td><b>Date of submission: </b><input type="text" name="Date" onfocus="HideBorder" class="textboxx" value="@Date" readonly> </td>
                        <td><b>Status of Request: </b><input type="text" name="Status" onfocus="HideBorder" class="textboxx" value="@Status" readonly></td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </body>

    <body>
        <div class="main" >
            <h3><b>Requisition Form</b></h3><br />
            <table id="dtBasicExample" class="table table-sm" cellspacing="0" style="width:1050px;">
                <thead class="thead-dark">
                    <tr>
                        <th class="th-sm"></th>
                        <th class="th-sm">ItemName</th>
                        <th class="th-sm">Unit of Measure</th>
                        <th class="th-sm">Order Quantity</th>
                        <th class="th-sm"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (WishList item in ViewBag.DetailsOfRequest)
                    {
                        <tr>

                            <td><input type="text" name="itemID" class="ItemID" value="@item.ItemID"></td>
                            <td><input type="text" name="ItemName" onfocus="HideBorder" class="textboxx" value="@item.ItemName" readonly> </td>
                            <td><input type="text" name="UOM" onfocus="HideBorder" class="textboxx" value="@item.UOM" readonly> </td>
                            <td><input type="text" name="RequiredQuantity" onfocus="HideBorder" class="textboxx" value="@item.RequiredQuantity" readonly></td>

                        </tr>
                     }
                </tbody>
            </table>
        </div>
    </body>

    <body>

        <div class="divforsubmitform">
            <div align="right">
                <input type="button" class="cancelorder button1" id="btnRejectOrder" value="Reject" onclick="CancelOrder(event)" />
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <input type="button" class="button button1" id="btnApproval" onclick="ApproveRequest(event)" value="Approve" />
                <br />
                <br />
                @using (Html.BeginForm("ApproveRequisitionDetails", "DepartmentRep", FormMethod.Post))
                {
                     <p>Comments: <input type="text" name="Comments" id="Comments" /></p> 
                    
                 }
            </div>
        </div>
    </body>

}

