@model LogicUniversityWeb.Models.Report

@Scripts.Render("~/Scripts/jquery.min.js")
@Scripts.Render("~/Scripts/Chart.js")
@{
    var reportForm = ViewBag.ReportForm;
    var datelist_X = @Html.Raw(Json.Encode(reportForm.Axis_X));
    var quantitylist_Y = @Html.Raw(Json.Encode(reportForm.Axis_Y));
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="main">
        <h3><b>Stock Trend Analysis</b></h3><br />
        <table  class="table  table-sm" cellspacing="0">

            @{
                int n = 0;
                foreach (var i in reportForm.Axis_X)
                {
                    <tr>
                        <td>@i</td>
                        <td>@reportForm.Axis_Y[n]</td>
                        @{n = n + 1;}

                    </tr>
                }
            }
        </table>
        <div>
            <canvas id="myChart" width="400" height="300"></canvas>
        </div>
    </div>
</body>


<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var labels = @datelist_X;
    var data = @quantitylist_Y;

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Quantity',
                data: data,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    tension: 0,
                    ticks: { beginAtZero: true }

                }]
            },
            title: {
                display: true,
                text: 'Stock Trend'
            }

        }
    });
</script>

