@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    <body>
        <div class="main">
            <h3><b>Requisition List</b></h3><br />
            <table class="table  table-sm" cellspacing="0">
                <thead class="thead-dark">
                    <tr>
                        <th>RequisitionID</th>
                        <th>DateOfSubmission</th>
                        <th>Department Code</th>
                        <th>Department Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in ViewBag.requisitionList)
                    {
                        <tr>
                            <td>@r.RequisitionID</td>
                            <td>@r.DateofSubmission</td>
                            <td>@r.DeptID_FK</td>
                            <td>@r.Departmentname</td>
                            <td> @Html.ActionLink("Details", "GetRequisitionDetails", new { id = r.RequisitionID }, new { @class = "btn btn-primary" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
}


